@{
    ViewBag.Title = "Unser Produktportfolio";
}

<div class="jumbotron">
    <h2>@ViewBag.Title</h2>
    <p>Stellen Sie sich ihr individueles Paket zusammen und lassen Sie sich einen Kostenvoranschlag per Mail zukommen!</p>
</div>

 <div class="row">    
    <div class="col-md-4">
        <button id="prouctModule">
            <h2>Modul 1</h2>
        </button>
        <div class="moduleDescription" id="1" style="display:none">
            <p>
                Hier steht die Beschreibung des ersten Moduls.
            </p>
        </div>
    </div>
    
    
    
     <div class="col-md-4">
         <button id="prouctModule">
             <h2>Modul 2</h2>
         </button>
         <div class="moduleDescription" id="2" style="display:none">
             <p>
                 Hier steht die Beschreibung des zweiten Moduls.
             </p>
         </div>
     </div>
    
    
    <div class="col-md-4">
    <button id="prouctModule">
        <h2>Modul 3</h2>
    </button>
    <div class="moduleDescription" id="3" style="display:none">
        <p>
            Hier steht die Beschreibung des dritten Moduls.
        </p>
    </div>
</div>
</div>
