<!--<script src="customjs.js"></script>-->

@{
    ViewBag.Title = "Unser Produktportfolio";
}

<div class="jumbotron">
    <h2>@ViewBag.Title</h2>
    <p>Stellen Sie sich ihr individueles Paket zusammen und lassen Sie sich einen Kostenvoranschlag per Mail zukommen!</p>
</div>

 <div class="row">    
    <div class="col-md-4">
        <button id="prouctModule" onclick="manipulateProductModule()">
            <h2>Modul 1</h2>
        </button>
        <div id="moduleDescription" style="display:none">
            <p>
                Hier steht die Beschreibung des ersten Moduls.
            </p>
        </div>
    </div>
    
    
    
     <div class="col-md-4">
         <button id="prouctModule" onclick="alert('clicked')">
             <h2>Modul 2</h2>
         </button>
         <div id="moduleDescription" style="display:none">
             <p>
                 Hier steht die Beschreibung des zweiten Moduls.
             </p>
         </div>
     </div>
    
    
    <div class="col-md-4">
    <button id="prouctModule" onclick="alert('clicked')">
        <h2>Modul 3</h2>
    </button>
    <div id="moduleDescription" style="display:none">
        <p>
            Hier steht die Beschreibung des dritten Moduls.
        </p>
    </div>
</div>
</div>

<script>
    $(document).ready(function () {
        // Event-Handler: Module-Button was clicked
        $('prouctModule').click(function () {
            alert('clicked');
            var property = 
            if ($('div:first').css(style.display) === 'none') {

            }
            $(':#moduleDescription').show();
        });
    }

    function manipulateProductModule() {
        var element = document.getElementById("moduleDescription");
        if (element.style.display === "none") {
            element.style.display = "block";
        }
        else {
            element.style.display = "none";
        }
    }

</script>