@{
    ViewBag.Title = "Unser Produktportfolio";
}
5
@Styles.Render("~/Content/Product.css");

<div class="jumbotron">
    <h2>@ViewBag.Title</h2>
    <p>Stellen Sie sich ihr individueles Paket zusammen und lassen Sie sich einen Kostenvoranschlag per Mail zukommen!</p>
</div>

<div class="container">
    <div class="row">
        <!--Module 1-->
        <div class="col-xs-12 col-md-6 col-lg-6 overrideMargin">
            <div id="productModule">
                <h2>Modul 1</h2>
                <p>Hier steht die Kurzbeschreibung des ersten Moduls.</p>
                <div class="hiddenDescription" id="detailedDescription">
                    <p>
                        Sobald der Kunde / Besucher der Webseite den Button dieses Modules anklickt um mehr über das
                        Moddul zu erfahren, wird das div mit entsprechender Detaibeschreibung aangezeigt.
                    </p>
                </div>
                <button type="button" class="btn bnt-primary btn-sm">
                    Mehr lesen
                </button>
            </div>
        </div>

        <!--Moodule 2-->
        <div class="col-xs-12 col-md-6 col-lg-6 overrideMargin">
            <div id="productModule">
                <h2> - Modul 2 - </h2>
                <p> - Kurzbeschreibung Modul 2 - </p>
                <div class="hiddenDescription" id="detailedDescription">
                    <p>
                        - Detailbeschreibung Modul 2 -
                    </p>
                </div>
                <button type="button" class="btn bnt-default btn-sm">
                    Mehr lesen
                </button>
            </div>
        </div>
    </div>

    <!--New line of product modules-->
    <div class="row">
        <!--Module 3-->
        <div class="col-xs-12 col-md-6 col-lg-6 overrideMargin">
            <div id="productModule">
                <h2> - Modul 3 - </h2>
                <p> - Kurzbeschreibung Modul 3 - </p>
                <div class="hiddenDescription" id="detailedDescription">
                    <p>
                        - Detailbeschreibung Modul 3 -
                    </p>
                </div>
                <button type="button" class="btn bnt-default btn-sm">
                    Mehr lesen
                </button>
            </div>
        </div>
    </div>
</div>