@{
    ViewBag.Title = "Unser Produktportfolio";
}
@Styles.Render("~/Content/Product.css");
<div class="jumbotron">
    <h2>@ViewBag.Title</h2>
    <p>Stellen Sie sich ihr individueles Paket zusammen und lassen Sie sich einen Kostenvoranschlag per Mail zukommen!</p>
</div>

 <div class="row">    
    <div class="col-md-4">
        <div class="productModule" title="Module">
            <button class="productModuleButton" onclick="document.getElementById('1').style.display = 'block'">
                <h2>Modul 1</h2>
            </button>
            <div class="moduleDescription" title="description" id="1">
                <p>
                    Hier steht die Beschreibung des ersten Moduls.
                </p>
            </div>
        </div>
    </div>
    
    
     <div class="col-md-4">
         <button class="productModuleButton">
             <h2>Modul 2</h2>
         </button>
         <div class="moduleDescription" id="2">
             <p>
                 Hier steht die Beschreibung des zweiten Moduls.
             </p>
         </div>
     </div>
</div>
