@{
    ViewBag.Title = "Contact";
}

@Styles.Render("~/Content/Contact.css")

<div class="container">
    <h2>Bleiben Sie mit uns in Kontakt !</h2>
    <h3>Senden sie uns eine Nachricht mit Ihrem anliegen und wir melden uns schnellstmöglich bei Ihnen</h3><br>


    <div class="row">
        <div class="col-md-4">
            
        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-4">

        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="input-group input-group.lg">
                <input type="text" class="form-control input-lg" id="message" placeholder="Ihre Nachricht" />
            </div>
        </div>
    </div>
    <button class="btn-primary">
        Nachricht senden
    </button>
</div>


<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
