@{
    ViewBag.Title = "Contact";
}

@Styles.Render("~/Content/Contact.css")


<div class="container">
    <div class="row">
        <div class="row">
            <div class="col-md-12" id="contactText">
                <h2>Kontaktieren Sie Uns !</h2>
                <h5>Schreiben Sie uns eine Nachricht und wir melden uns schnellstmöglich bei Ihnen</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <input type="text" class="form-control" placeholder="Name" />
            </div>
            <div class="col-sm-4">
                <input type="text" class="form-control" placeholder="Email" />
            </div>
            <div class="col-sm-4">
                <input type="text" class="form-control" placeholder="Betreff" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <textarea name="message" class="form-control" placeholder="Ihre Nachricht" rows="6"></textarea>
            </div>
        </div>
        <button class="btn btn-primary"> Nachricht senden </button> 
    </div>
    <h2 id="googleMapsText"> Unser Büro befindet sich direkt im Herzen der Altstadt von Friedberg </h2>
    <div class="row">
        <div class="col-xs12">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2651.3140851296534!2d10.977538316014126!3d48.35448807924129!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479e99e01974f90f%3A0xcb07af665b22706b!2sBahnhofstra%C3%9Fe+2%2C+86316+Friedberg%2C+Deutschland!5e0!3m2!1sde!2sus!4v1482416162285" height="600"  width="1200" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</div>

