/*This CSS is ment to style Content/Product.css*/

/*Overwrites*/
.btn {
    margin-bottom: 0;
}

button {
    background-color: #679bcc;
    color: white;
    float: right;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
}

div#overwriteMargin {
    padding-left: 0;
    padding-right: 30px;
}

#expand {

}

.hiddenDescription {
    display: none;
}

div#productModule {
    color: inherit;
    background-color: #fafafa;
    border: thin;
    margin: 2px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 45px;
    max-height: none;
    min-height: 32px;
}