/*This CSS is ment to style the prodct website.*/

div.moduleDescription {
    display: none !important;
    color: inherit !important;
    background-color: #fafafa !important;
}

button {
    color: inherit !important;
    background-color: #fafafa !important;
    border: thin !important;
    margin: auto !important;
}
